body { 
    font-family: sans-serif; 
    margin: 0; 
    /* background: image(); */
    /* width: 500px; 
    margin: 0 auto;  */
} 

/* p {
    width: 300px;
    height: fit-content;
    padding: 20px;
    border: 1px solid;
    margin: 5px;
} */

/* article p:first-of-type { 
    color: red; 
    font-size: 1.5em; 
}  */

/* Berdasarkan nama tag: p */ 
/* p { 
    color: grey;
} */
/* Berdasarkan nama class: highlight */ 
/* .highlight {  
    background-color: 
    yellow;  
}  */
/* Berdasarkan nama ID: main-title*/ 
/* #main-title {  
    font-size: 24px;  
    font-weight: bold;  
}  */

/* p {
background: rgb(255 84 104 / 30%); 
border: 2px solid rgb(255 84 104); 
padding: 10px; 
margin: 10px; 
} */

/* span { 
    background: white; 
    border: 1px solid black; 
}  */

header { 
    background: coral;    
    height: 100px; 
} 

h1 { 
    text-align: center; 
    color: white; 
    line-height: 100px; 
    margin: 0;
} 


article { 
    /* min-width: 200px; */
    max-width: 200px;
    padding: 10px; 
    margin: 10px; 
    background: greenyellow; 
}

section { 
    /* flex-wrap: wrap; */
    /* zoom: 0.8;  */
    display: flex;
    /* justify-content: space-evenly;  */
    /* flex-direction: row ; */
    align-items: stretch;
} 
/* h1 { 
        font-family: 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
}  */
  

/* .jan{
    min-height: 500px;
            
}
.jann{
    min-height: 600px;
}
.jannn{
     min-height: 200px;
}
.jannnn{
     min-height: 300px;
} */

/* article { 
    min-width: 200px;
    min-height: 800px;
    padding: 10px; 
    margin: 10px; 
    background: aqua; 
}  */

/* Add your flexbox CSS below here */ 
/* section { 
     display: flex; 
flex-direction: row;
} */